body, html {
    height: 100%;
  }
  
  .bg { 
    background-image: url("img12.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat;  
    background-size: cover;
  }

  .btn{
      color: white;
      background-color:#AE92F6;
      
  }
